# Python
__pycache__/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Secrets
.env
*.key
*.pem

# Code
/old
/edit

# Data / outputs (adjust to your project!)
data/
*.csv
*.parquet
*.xlsx
results/
